{% extends 'admin/demo/index.html' %}
{% block title %}
    <title>管理员系统--类别列表</title>
{% endblock %}
{% block cont_1 %}
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
            <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span> 管理员-类别列表
            </div>
        </div>
    </div>
{% endblock %}



{# 列表 #}
{% block con_all %}
    <div class="row-content am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title  am-cf">文章列表</div>


                    </div>
                    <div class="widget-body  am-fr">

                        <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                            <div class="am-form-group">
                                <div class="am-btn-toolbar">
                                    <div class="am-btn-group am-btn-group-xs">
                                        <button type="button"  class="am-btn am-btn-default am-btn-success"><a href="{% url 'admin_add_types' %}"><span
                                                class="am-icon-plus"></span>新增</a>
                                        </button>
                                        <button type="button" class="am-btn am-btn-default am-btn-secondary"><span
                                                class="am-icon-save"></span> 保存
                                        </button>
                                        <button type="button" class="am-btn am-btn-default am-btn-warning"><span
                                                class="am-icon-archive"></span> 审核
                                        </button>
                                        <button type="button" class="am-btn am-btn-default am-btn-danger"><span
                                                class="am-icon-trash-o"></span> 删除
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <form action="" method="get">
                            <div class="am-u-sm-12 am-u-md-6 am-u-lg-3">
                                <div class="am-form-group tpl-table-list-select">
                                    <select data-am-selected="{btnSize: 'sm'}" style="display: none;" name="type">
                                        {#                                    <option {% if request.GET.type == "all" %}  selected {% endif %}  value="all">所有</option>#}
                                        <option {% if request.GET.type == "name" %}  selected {% endif %}  value="name">
                                            类名
                                        </option>
                                        {#                                    <option {% if request.GET.type == "email"%}   selected {% endif %} value="email">邮箱</option>#}
                                        {#                                    <option {% if request.GET.type == "phone"%}   selected {% endif %} value="phone">手机号</option>#}
                                        {#                                    <option {% if request.GET.type == "age"%}   selected {% endif %} value="age">年龄</option>#}
                                    </select>
                                </div>
                            </div>
                            <div class="am-u-sm-12 am-u-md-12 am-u-lg-3">
                                <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
                                    <input type="text" class="am-form-field " name="keyword"
                                           value="{{ request.GET.keyword }}">
                                    <span class="am-input-group-btn">
                                    <button class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-search">
                                    </button>
                                </span>
                                </div>
                            </div>
                        </form>
                        <div class="am-u-sm-12">
                            <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black ">
                                <thead>
                                <tr>
                                    <th>id号</th>
                                    <th>类名</th>
                                    {#                                    <th>等级</th>#}
{#                                    <th>所属于</th>#}
                                    {#                                    <th>路径</th>#}
                                    <th>添加时间</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for i in data %}

                                    <tr class="gradeX">
                                        <td class="am-text-middle typeid">{{ i.id }}</td>
                                        {% if i.level == 1 %}
                                            <td class="am-text-middle canchange">{{ i.name }}</td>
                                        {% else %}
                                            <td class="am-text-middle">
                                                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="canchange">{{ i.name }}</span>
                                            </td>
                                        {% endif %}
{#                                        <td class="am-text-middle">{{ i.pname }}</td>#}
                                        <td class="am-text-middle">{{ i.addtime|date:'Y-m-d H:i:s' }}</td>
                                        <td class="am-text-middle">
                                            <div class="tpl-table-black-operation">
                                                <a href="{% url 'admin_delete_types' i.id %}"
                                                   class="tpl-table-black-operation-del">
                                                    <i class="am-icon-trash"></i> 删除
                                                </a>
                                            </div>
                                        </td>
                                    </tr>

                                {% endfor %}
                                <!-- more data -->
                                </tbody>
                            </table>
                        </div>
                        <div class="am-u-lg-12 am-cf">

                            <div class="am-fr">
                                <ul class="am-pagination tpl-pagination">
                                    {#                                    <li class="am-disabled"><a href="#">«</a></li>#}
                                    {% load pages %}
                                    {% pages data.paginator.num_pages request %}
                                    {#                                    {% pages data.paginator.num_pages request %}#}
                                    {#                                    '<li class="am-active"><a href="#">'+str(i)+'</a></li>'#}
                                    {#                                    <li><a href="#">»</a></li>#}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {#    ajax  修改#}
    <script>
        {#        获取对象，添加双击事件#}
        $('.canchange').dblclick(function () {
            {#    双击之后，要添加一个文本框  这个文本框中有原来的数据 而且当前的文本框是选中文本状态#}
            var td = $(this)
            var info = $(this).text();
            var id = $(this).parents('tr').find('.typeid').text()
            var inp = $('<input type="Text" value="' + info + '"style="color:#000;" />');
            $(this).html(inp);
            inp.select();
            {#    获取对象，添加丧失焦点事件#}
            inp.blur(function () {
                {#    当文本框失去焦点之后，判断文本是否跟改,若没更改，再将原来的数据写回去,如果改了，发送请求获取数据,#}
                if ($(this).val() == info) {
                  $(this).remove();
                  td.text(info);
                }else {
                    var newname = $(this).val();
                    $.get('{% url "ajax_post" %}',{'id':id,'newname':newname},function(data){
                        if(data['err_code'] == 0){
                            alert(data['msg']);
                            inp.remove();
                            td.text(newname);
                        }else {
                            alert(data['msg']);
                            inp.remove();
                            td.text(info);
                        }
                    },'json');
                };
            });

        });

    </script>
{% endblock %}
